includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: 7
  paths:
      - ./src/main/php
      - ./src/test/php
  ignoreErrors:
      # False positive
      - '#Access to an undefined property object::#'
      - '#Call to an undefined method object::#'
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
      - '#Access to an undefined property stubbles\\App::\$#'
      - '#Call to an undefined method stubbles\\App::wasBoundBy\(\).#'
      - '#Method stubbles\\App::createInstance\(\) should return stubbles\\App but returns object#'
      - '#Method stubbles\\ioc\\MultibindingTest::createPluginHandler\(\) should return stubbles\\test\\ioc\\PluginHandler but returns object#'
      # Explicit tests
      -
          message: '#class stubbles\\Runtime constructor expects \(callable\(\): mixed\)|stubbles\\Environment|null, stdClass given#'
          path: src/test/php/RuntimeTest.php
      -
          message: '#method stubbles\\ioc\\binding\\ListBinding::withValueFromProvider\(\) expects string|stubbles\\ioc\\InjectionProvider, stdClass given#'
          path: src/test/php/ioc/binding/ListBindingTest.php
      -
          message: '#method stubbles\\ioc\\binding\\MapBinding::withEntryFromProvider\(\) expects string|stubbles\\ioc\\InjectionProvider, stdClass given#'
          path: src/test/php/ioc/binding/MapBindingTest.php
      # phpstan can't handle methods included by trait
      -
          message: '#Call to an undefined method stubbles\\Environment::useErrorHandler\(\)#'
          path: src/test/php/environments/ErrorHandlerTest.php
      -
          message: '#Call to an undefined method stubbles\\Environment::useExceptionHandler\(\)#'
          path: src/test/php/environments/ExceptionHandlerTest.php
      -
          message: '#method stubbles\\ioc\\binding\\ConstantBinding::toProviderClass\(\) expects class-string<stubbles\\ioc\\InjectionProvider<bool|float|int|string>>|ReflectionClass<stubbles\\ioc\\InjectionProvider<bool|float|int|string>>, string given#'
          path: src/test/php/ioc/InjectorConstantTest.php
      -
          message: '#method stubbles\\ioc\\binding\\ClassBinding<object,mixed>::toProviderClass\(\) expects class-string<stubbles\\ioc\\InjectionProvider<mixed>>|ReflectionClass<stubbles\\ioc\\InjectionProvider<mixed>>, string given#'
          path: src/test/php/ioc/InjectorProviderTest.php
      # phpstan can't deal with callables in array form
      -
          message: '#Cannot access offset 0 on callable\(\): mixed#'
          path: src/main/php/environments/Handler.php
      -
          message: '#Method stubbles\\environments\\Handler::createCallback\(\) should return callable\(\): mixed but returns array\(mixed, string\)#'
          path: src/main/php/environments/Handler.php
      -
          message: '#exception_handler of function set_exception_handler expects \(callable\(Throwable\): void\)|null, callable\(\): mixed given#'
          path: src/main/php/environments/Handler.php
      -
          message: '#Result of && is always false#'
          path: src/main/php/environments/Handler.php
      -
          message: '#Result of && is always false#'
          path: src/main/php/ioc/binding/ClassBinding.php
      # phpstan can't resolve return value based on input parameter
      -
          message: '#method stubbles\\ioc\\binding\\SessionBindingScope::getInstance\(\) expects ReflectionClass, ReflectionClass<stdClass>|ReflectionFunction|ReflectionMethod|ReflectionObject<stdClass> given#'
          path: src/test/php/ioc/binding/SessionBindingScopeTest.php