parameters:
  level: 7
  paths:
      - ./src
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
      - '#Call to an undefined method bovigo\\callmap\\ClassProxy::disableLogging\(\).#'
      - '#Access to an undefined property stubbles\\App::\$#'
      - '#Call to an undefined method stubbles\\App::wasBoundBy\(\).#'
      - '#but returns bovigo\\callmap\\ClassProxy#'
      - '#bovigo\\callmap\\ClassProxy given#'
      - '#expects bovigo\\callmap\\Proxy, stubbles\\environments\\exceptionhandler\\DisplayException given#'
      - '#expects bovigo\\callmap\\Proxy, stubbles\\environments\\exceptionhandler\\ProdModeExceptionHandler given#'
      - '#Method stubbles\\App::createInstance\(\) should return stubbles\\App but returns object#'
      - '#Method stubbles\\ioc\\MultibindingTest::createPluginHandler\(\) should return stubbles\\test\\ioc\\PluginHandler but returns object#'
      - '#Call to an undefined method object::#'
      - '#Access to an undefined property object::#'
      - '#should return callable but returns array<int, mixed>#'
      - '#environment of class stubbles\\Runtime constructor expects \(callable\)\|stubbles\\Environment\|null, stdClass given#'
      -
          message: '#Call to an undefined method stubbles\\Environment::setErrorHandler\(\).#'
          path: src/main/php/environments/Production.php
      -
          message: '#Cannot access offset 0 on callable\(\): mixed#'
          path: src/main/php/environments/Handler.php
      -
          message: '#Call to function method_exists\(\) with string and #'
          path: src/main/php/App.php
      -
          message: '#Result of && is always false#'
          path: src/main/php/ioc/binding/ClassBinding.php